# Python
__pycache__/
*.py[cod]
*$py.class

# ESPHome
.secrets.yaml
secrets.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local development
.env
*.local
*~
*.pyc
*.mpy
wificonfig.py
/pexec.egg-info/
/build/
/dist/
scratch_pad.py
html/_index.html
html/style.min.css
